@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  color: #5f5344;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 1.8;
  text-align: center;
}

body img {
  width: 100%;
}

a {
  color: #fff;
  display: block;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

/* a:hover {
  opacity: 0.5;
  transition: all 0.5s ease 0s;
} */

ul,
ol {
  list-style: none;
}

/* =====================================================
section_head
===================================================== */

.section__head {
  text-align: center;
  margin-bottom: 80px;
}

.section__head__title {
  font-size: 36px;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.3em;
  font-weight: 400;
}

.section__head__text {
  letter-spacing: 0.3em;
}

/* =====================================================
button
===================================================== */
.button {
  display: inline-block;
  color: #fff;
  background: #5f5344;
  padding: 25px 40px;
  font-weight: 400;
  width: 360px;
  border-radius: 128px;
  transition: background-color 0.3s;
  position: relative;
}

.button:hover {
  background: #000;
}

.button span {
  position: relative;
  padding-right: 25px;
}

.button span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(../img/arrow-right.png) no-repeat center center/contain;
  transition: right 0.3s;
}

.button:hover span::after {
  right: -5px;
}

/* =====================================================
header
===================================================== */

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  align-items: center;
  height: 120px;
  background-color: #fff;
  width: 100%;
  display: flex;
}

.header__logo {
  padding-left: 65px;
  width: 100px;
}

.header__logo__item__title {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #5f5344;
  flex: none;
  font-weight: 700;
  width: 156px;
  justify-content: flex-start;
}

.header__logo__item__icon {
  width: 156px;
  height: auto;
}

.header__nav {
  margin-left: auto;
  display: flex;
}

.header__nav__list {
  display: flex;
}

.header__nav__list__item:not(:first-child) {
  margin-left: 40px;
}

.header__nav__list__item {
  font-size: 1.6rem;
  list-style: none;
}

.header__nav__list__item a {
  text-decoration: none;
  padding-bottom: 1px;
  color: #5f5344;
}

.header__nav__icon__img {
  width: 25px;
  height: 25px;
  background-color: #5f5344;
  margin-left: 40px;
  margin-right: 65px;
  border-radius: 50%;
}

/* =====================================================
footer
===================================================== */

.footer {
  background-color: #5f5344;
  color: #fff;
  letter-spacing: 0.15em;
  padding: 75px 0 0;
}

.footer__title {
  font-weight: 400;
}

.footer__logo {
  width: 145px;
  display: block;
  margin: 5px auto 0;
}

.footer__sns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.footer__sns-icon a {
  width: 20px;
}

.footer__sns-icon a img {
  /* padding: 0 10px; */
}

.footer__address {
  margin-top: 40px;
}

.footer__address__item {
  display: block;
  margin-top: 15px;
}

.footer__address__item:first-of-type {
  margin: 0;
}

.footer__site-map {
  background-color: #3f362c;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 75px;
  padding: 30px 0;
}

.footer__copy {
  padding: 40px 0;
}
