header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: #5f5344;
  height: 120px;
}

.header__logo {
  padding-left: 65px;
  width: 100px;
}

.header__logo__item__title {
  color: #5f5344;
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 5px;
}

.header__logo__item__icon {
  width: 120px;
  height: auto;
  background-color: #5f5344;
}

.header__nav {
  margin-left: auto;
  display: flex;
}

.header__nav__list {
  display: flex;
}

.header__nav__list__item:not(:first-child) {
  margin-left: 40px;
}

.header__nav__list__item {
  font-size: 16px;
  list-style: none;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.15em;
}

.header__nav__list__item a {
  text-decoration: none;
  padding-bottom: 1px;
  color: #5f5344;
}

.header__nav__icon__img {
  width: 20px;
  height: 20px;
  background-color: #5f5344;
  margin-left: 40px;
  margin-right: 65px;
}

  /* ここからメニュー */
  .menu__inner{
    text-align: center;
    margin: 80px 0;
    padding: 80px 0;
    background-color: #5f53440D;
  }

  .menu__inner__title{
    font-size: 42px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.3em;
    line-height: 1.8;
    width: auto;
    max-width: 100%;
  }

  .menu__inner__text{
    font-size: 18px;
    font-weight: 600;
    height: auto;
    letter-spacing: 0.3em;
    line-height: 1.8;
    padding: 0 5px;
    width: auto;
    max-width: 100%;
  }
  

  .menu__container{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
  }

  .menu__container__img{
    height: 220px;
    width: 300px;
  }




body {
  color: #5f5344;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.15em;
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
}

.inner {
  max-width: 1260px;
  margin-inline: auto;
  padding: 0 80px;
}

.section__head {
  text-align: center;
  margin-bottom: 80px;
}

.section__head__title {
  font-size: 36px;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.3em;
  font-weight: 400;
}

.section__head__text {
  letter-spacing: 0.3em;
}

.button {
  color: #fff;
  background: #5f5344;
  padding: 25px 40px;
  display: inline-block;
  width: 360px;
  border-radius: 128px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
  background: #000;
}

.shop {
  background: rgba(95, 83, 68, 0.05);
  padding: 120px 0 140px;
}

.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 75px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 370px;
}

.shop__info {
  width: 495px;
}

.shop__info__text {
  font-size: 14px;
}

.shop__info__title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.shop__lists {
  margin-top: 20px;
}

.shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  border-top: 1px solid rgba(95, 83, 68, 0.3);
}

.shop__list:last-child {
  border-bottom: 1px solid rgba(95, 83, 68, 0.3);
}

.shop__info__table {
  margin-top: 20px;
}

.table th {
  font-weight: 400;
}

.table tr,
.table td {
  -moz-text-align-last: left;
  text-align-last: left;
}

.table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  border-top: 1px solid rgba(95, 83, 68, 0.3);
}

.table tr:last-child {
  border-bottom: 1px solid rgba(95, 83, 68, 0.3);
}

.table th {
  width: 130px;
  padding: 5px;
}

.table td {
  padding: 5px;
}

.shop__image img {
  border-radius: 20px;
  max-width: 528px;
  width: 100%;
  height: 370px;
  -o-object-fit: cover;
  object-fit: cover;
}

.shop__button {
  margin-top: 100px;
  text-align: center;
}


.footer {
  background-color: #5f5344;
  color: #fff;
  letter-spacing: 0.15em;
  padding: 75px 0 0;
}

.footer__title {
  font-weight: 400;
}

.footer__logo {
  width: 145px;
  display: block;
  margin: 5px auto 0;
}

.footer__sns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.footer__sns-icon a {
  width: 20px;
}

.footer__sns-icon a img {
  /* padding: 0 10px; */
}

.footer__address {
  margin-top: 40px;
}

.footer__address__item {
  display: block;
  margin-top: 15px;
}

.footer__address__item:first-of-type {
  margin: 0;
}

.footer__site-map {
  background-color: #3f362c;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 75px;
  padding: 30px 0;
}

.footer__copy {
  padding: 40px 0;
}