body {
  color: #5f5344;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.15em;
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
}

.inner {
  max-width: 1260px;
  margin-inline: auto;
  padding: 0 80px;
}

.section__head {
  text-align: center;
  margin-bottom: 80px;
}

.section__head__title {
  font-size: 36px;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.3em;
  font-weight: 400;
}

.section__head__text {
  letter-spacing: 0.3em;
}

.button {
  color: #fff;
  background: #5f5344;
  padding: 25px 40px;
  display: inline-block;
  width: 360px;
  border-radius: 128px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button:hover {
  background: #000;
}

.shop {
  background: rgba(95, 83, 68, 0.05);
  padding: 120px 0 140px;
}

.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 370px;
}

.shop__info {
  width: 495px;
}

.shop__info__text {
  font-size: 14px;
}

.shop__info__title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.shop__lists {
  margin-top: 20px;
}

.shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  border-top: 1px solid rgba(95, 83, 68, 0.3);
}
.shop__list:last-child {
  border-bottom: 1px solid rgba(95, 83, 68, 0.3);
}

.shop__info__table {
  margin-top: 20px;
}

.table th {
  font-weight: 400;
}
.table tr,
.table td {
  -moz-text-align-last: left;
       text-align-last: left;
}
.table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  border-top: 1px solid rgba(95, 83, 68, 0.3);
}
.table tr:last-child {
  border-bottom: 1px solid rgba(95, 83, 68, 0.3);
}
.table th {
  width: 130px;
  padding: 5px;
}
.table td {
  padding: 5px;
}

.shop__image img {
  border-radius: 20px;
  max-width: 528px;
  width: 100%;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__button {
  margin-top: 100px;
  text-align: center;
}