/* =====================================================
mv
===================================================== */

.mv {
  margin-top: 80px;
  padding-bottom: 50px;
}

.mv__inner {
  padding-inline: 50px;
  position: relative;
}

.mv__slider {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
}

.mv__slider img {
  width: 100%;
  height: 630px;
  object-fit: cover;
}

.mv__content {
  position: absolute;
  bottom: 75px;
  left: 125px;
  text-align-last: left;
}


.mv__title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mv__lead {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.mv__text {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
}

/* =====================================================
lead
===================================================== */
.lead_wrap {
  height: 460px;
  background-image: url(../img/lead_bg.jpg);
  background-position: 80%;
  background-size: cover;
  margin-top: 50px;
}

.lead {
  height: 100%;
  background-color: rgba(3, 3, 3, 0.75);
  color: #fff;

}

.lead__title {
  font-size: 2.4rem;
  font-weight: 400;
  padding-top: 70px;
}

.lead__text {
  max-width: 600px;
  margin: 0 auto;
  padding: 45px 0 0;
  text-align: left;
}


/* =====================================================
slider
===================================================== */

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider__list {
  width: 100%;
  display: flex;
  transition: transform 1s ease;
}

.slider__list__item {
  min-width: 100%;
}

.slider__list__item img {
  height: 200px;
  object-fit: cover;
}

/* =====================================================
menu
===================================================== */
.menu {
  margin: 120px auto;
  max-width: 1200px;
}

.menu__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.menu__items__item {
  width: calc(33.333% - 50px);
}

.menu__items__item__img {
  width: 100%;
  height: 220px;
}

.menu__items__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.menu__items__details {
  padding: 20px;
  color: #5f5344;
  text-align: left;
  font-weight: 200;
}

.menu__items__details__title {
  font-size: 1.6rem;
  font-weight: 400;
}

.menu__items__details__cost {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.menu__items__details__description {
  font-size: 1.4rem;
}

.menu__button {
  margin-top: 100px;
  text-align: center;
}



/* =====================================================
shop
===================================================== */

.shop {
  background: rgba(95, 83, 68, 0.05);
  padding: 120px 0 140px;
}

.shop__content {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.shop__info {
  /* width: 495px; */
  text-align-last: left;
}

.shop__info__title img {
  display: block;
  width: 120px;
  margin: 0 auto;
  /* font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15em; */
}

.shop__lists {
  margin-top: 20px;
}

.shop__list {
  display: flex;
  padding: 5px 0;
  border-top: 1px solid rgba(95, 83, 68, 0.3);
}

.shop__list:last-child {
  border-bottom: 1px solid rgba(95, 83, 68, 0.3);
}

.shop__info__table {
  margin-top: 20px;
}

.table th {
  font-weight: 400;
}

.table tr,
.table td {
  text-align-last: left;
}

.table tr {
  display: flex;
  padding: 5px 0;
  border-top: 1px solid rgba(95, 83, 68, 0.3);
}

.table tr:last-child {
  border-bottom: 1px solid rgba(95, 83, 68, 0.3);
}

.table th {
  width: 130px;
  padding: 5px;
}

.table td {
  padding: 5px;
}

.shop__image img {
  border-radius: 20px;
  max-width: 480px;
  /* height: 370px; */
  object-fit: cover;
}

.shop__button {
  margin-top: 100px;
  text-align: center;
}


/* =====================================================
map
===================================================== */

.iframe__wrapper iframe {
  vertical-align: bottom;
}

/* =====================================================
shopページ
===================================================== */
.gallery.section__head {
  background-color: #eee;
  padding: 80px 0 120px;
  margin-bottom: 0;
}

.gallery__content {
  display: flex;
  gap: 70px;
  justify-content: center;
  margin-top: 80px;
}

.gallery__content.f-reverse {
  flex-flow: row-reverse;
}

.gallery__content-img {
  width: 35%;
  border-radius: 0 40px 40px;
}

.gallery__content-img img {
  height: 350px;
  border-radius: 0 40px 40px;
  object-fit: cover;
}

.gallery__content-item {
  width: 40%;
}

.gallery__content-item__title {
  font-size: 2rem;
}

.gallery__content-item__text {
  margin-top: 20px;
  text-align: left;
}